/* https://coolors.co/1f629a-3f6e98-e8eff6-c98331-e1951b */

:root {
    --primary-color: #1F629A;
    --secondary-color: #3F6E98;
    --accent1-color: #C98331;
    --accent2-color: #E8EFF6;
}

h1 {
    font-family: "Montserrat", sans-serif;
    color: var(--accent1-color)
}

p {
    font-family: "Noto Sans", sans-serif;
    color: var(--secondary-color)
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;                
    left: 20px;
    color: white;            
    font-size: 2em;       
    z-index: 1;
}

.hero article {
    position: absolute;
    bottom: 20px;              
    left: 20px;
    background-color: rgba(0, 0, 0, 0.5);  
    color: var(--accent2-color);          
    padding: 10px;          
    z-index: 1;   
}

.hero article img {
    float: right;             
    width: 150px;        
    margin-left: 10px; 
  }
  
  .hero article p {
    margin: 0;
    color: var(--accent2-color)                 
  }

article img {
    float: right;
    width: 50px;
}

footer a {
    text-decoration: none !important;
}